<h2>Invitation Details</h2>

<p>Host Name: <%= @invitation.host_name %></p>
<p>Event Address: <%= @invitation.event_address %></p>
<p>Host Phone: <%= @invitation.host_phone %></p>
<p>Event Date: <%= @invitation.event_date %></p>
<p>Event Description:</p>
<p><%= @invitation.event_description %></p>